python-dotenv==0.21.1
Pillow==9.4.0
channels==4.0.0

Django==4.1.5
django-allauth==0.52.0
django-braces==1.15.0
django-ckeditor==6.5.1
django-cleanup==6.0.0
django-crispy-forms==1.14.0
django_debug_toolbar==3.8.1

mkdocs==1.4.2
pymdown-extensions==9.9.2
mkdocs-awesome-pages-plugin==2.8.0
mkdocs-material==9.0.6
mkdocs-material-extensions==1.1.1
